<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenAPI Diff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Adam Woźniak">
    <link href="/pico.classless.zinc.min.css" rel="stylesheet" />
    <link href="/main.css" rel="stylesheet" />
</head>
<body>
<header>
    <h1>OpenAPI Diff WEB interface</h1>
    <hr />
</header>
<main>
    <h2>Error</h2>
    <p>Oops, there was an error. If the problem occurs again, please contact the administrator.</p>
</main>
<footer>
    <hr />
    <p>&copy; 2025 <a href="mailto:adam85.w@gmail.com">Adam Woźniak</a><br />Credits: <a href="https://github.com/OpenAPITools/openapi-diff">OpenAPI Diff</a></p>
</footer>
</body>
</html>