<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenAPI Diff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Adam Woźniak">
    <link href="/pico.classless.zinc.min.css" rel="stylesheet" />
    <link href="/main.css" rel="stylesheet" />
    <script src="htmx.min.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <h1>OpenAPI Diff WEB interface</h1>
    <hr />
</header>
<main>
    <h2>Provide contracts</h2>
    <form hx-encoding="multipart/form-data" hx-post="/" hx-target="#results">
        <fieldset>
            <label>Current version: <input type="file" name="current_version" /></label>
            <label>New version: <input type="file" name="new_version" /></label>
            <label>Format: <select name="format">
                <option value="YAML">yaml</option>
                <option value="JSON">json</option>
            </select></label>
            <input value="Submit" type="submit" class="secondary" />
        </fieldset>
    </form>
    <div id="results"></div>
</main>
<footer>
    <hr />
    <p>&copy; [[${#dates.createToday().getYear()+1900}]] <a href="mailto:adam85.w@gmail.com">Adam Woźniak</a><br />Credits: <a href="https://github.com/OpenAPITools/openapi-diff">OpenAPI Diff</a></p>
</footer>
</body>
</html>